.navigation {
    padding: 10px 70px;
}

.navigation__title {
    font-size: large;
    color: rgb(132, 165, 157);
    font-weight: 700;
}

.navigation__listItem {
    margin: 5px 0;
}

.navigation__list {
    padding: 10px;
    list-style: none;
}
